name: Validate links

on:
  push:
    branches:
      - main
    paths:
      - README.md
      - docs/**
  schedule:
    - cron: "00 18 * * *"

jobs:
  val-links:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Validate links
        uses: lycheeverse/lychee-action@a8c4c7cb88f0c7386610c35eb25108e448569cb0 # v2.7.0
        with:
          args: --config .github/configs/lychee.toml -- README.md
          jobSummary: true