name: Validate links

on:
  push:
    branches:
      - main
    paths:
      - README.md
      - docs/**
  schedule:
    - cron: "00 18 * * *"

jobs:
  val-links:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Validate links
        uses: lycheeverse/lychee-action@8646ba30535128ac92d33dfc9133794bfdd9b411 # v2.8.0
        with:
          args: --config .github/configs/lychee.toml -- README.md
          jobSummary: true
